.start-node-drag{
    width: 10rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    touch-action: none;
    user-select: none;   
}
.start-node-drop{
    touch-action: none;
    user-select: none;
}


.general-block{
    width: 10em;
    height: 6em;        
    border: dashed 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.general-block:hover{
    cursor: pointer;
}


.conn-btn-top{ transform: rotate(360grad) translateX(-4.3em) translateY(-1.5em) rotate(-360grad); width: 1.6em; height: 1.6em; }
.conn-btn-bottom{ transform: rotate(360grad) translateX(5em) translateY(0) rotate(360grad); width: 1.6em; height: 1.6em; }
.conn-btn-begin-bottom{ transform: rotate(360grad) translateX(4.3em) translateY(1.4em) rotate(360deg); width: 1.6em; height: 1.6em; }
/*.conn-btn-begin-bottom{ transform: rotate(-90deg) translate(-1em) rotate(90deg);}*/

.fa-icon{color:white}

.fa-icon:hover{
    font-size:1.1em;
    color:rgb(165, 165, 165)
}


.BEGIN {background-color:#c70202}
.END {background-color: #4b8008}
.SELECT {background-color:#878787}
.MERGE {background-color:#0082b5}
.FILTER {background-color:#995700}
.RESAMPLE {background-color:#990f77}
.PREPROCESSING {background-color:#34124d}
.AGGREGATE {background-color:#729100}
.DEFAULT {background-color:white}


/*
input[type='file'] {
    color: rgba(0, 0, 0, 0)  }
  
*/

