
#drag-zone{
    height: 66vh;
    width: 18vw;
    display: flex;    
    justify-content: space-around;
    flex-direction: column;
}

#drop-zone{
    height: 100vh;
    width: 82vw;
    border: 1px solid rgb(175, 171, 171);
    background-color: transparent;        
    touch-action: none;
}

.arrow:hover{
    stroke-width: 3;
    stroke: red;
    stroke-dashoffset: 1%;
    cursor: pointer;
}

#arrowhead:hover{
    color: red;
    cursor: pointer;
}

.messages-zone{
    height:26vh;
    width: 18vw;
    background-color: rgb(255, 255, 255);
    touch-action: none;
    overflow: auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.message-header{
    height: 4vh;
    background-color: rgb(206, 203, 203);
}

.message{
    text-align: start;
    margin-left: 1em;
}

.tooltip-div{
    background-color: white;
    color: black;
}

